module use --append /mnt/home/jbonini/scripts/ccq-software-build/modules
module use --append /mnt/home/jbonini/scripts/develop-software-build/modules
module load triqs/jrbp_3_unst_nix2_llvm
export PYENV_VERSION=system
layout poetry
